snippet frame "latex beamer frame (slide)"
\begin{frame}${1}
  ${0}
\end{frame}
endsnippet

snippet enumerate "latex numbered list"
\begin{enumerate}
  \item ${0}
\end{enumerate}
endsnippet

snippet begin "generic latex begin/end block"
\begin{${1}}${2}
  ${0}
\end{$1}
endsnippet

snippet ingr "includegraphics"
\includegraphics
endsnippet
