snippet today "VimWiki template for today" 
= `date --date="today" +"%A, %d %B %Y"` =

= Plan =

Events:

Goals:

= Notes =
endsnippet


snippet tomorrow "VimWiki template for tomorrow" 
= `date --date="tomorrow" +"%A, %d %B %Y"` =

= Plan =

Events:

Goals:

= Notes =
endsnippet
